<!DOCTYPE html>
<html>
    <head>
        <title>Personas (agregar)</title>
    </head>
    <body>
        <h1>Personas</h1>
        <form action="/agregar" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" /><br>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" /><br>
            <label for="edad">Edad:</label>
            <input type="text" name="edad" id="edad" /><br>
            <input type="submit" value="Agregar" />
        </form>
    </body>
</html>